# Keeping for historical reasons but not needed as cobbler has been removed
#clear_cobbler() {
#  echo -e "Removing all cobbler systems"
#  for i in `cobbler system list`; do cobbler system remove --name $i; done;
#
#  echo -e "Removing all cobbler profiles"
#  for i in `cobbler profile list`; do cobbler profile remove --name $i; done;
#
#  echo -e "Removing all cobbler repos"
#  for i in `cobbler repo list`; do cobbler repo remove --name $i; done;
#
#  echo -e "Removing all cobbler distros"
#  for i in `cobbler distro list`; do cobbler distro remove --name $i; done;
#
#  echo -e "Removing custom preseed and resyncing cobbler"
#  rm -f /var/lib/cobbler/kickstarts/ubuntu-server-14.04-unattended-cobbler.seed;
#  cobbler sync;
#}

destroy_all() {
  echo -e "Completing removing OpenStack VMs\n"
  # Change to libvirt images directory
  pushd /var/lib/libvirt/images

  # Force shutdown and remove all instances
  for i in `virsh list --all --name|awk '/infra|compute|storage|cinder|ceph|swift|logger/ { print }'`; do virsh destroy $i; done;
  for i in `virsh list --all --name|awk '/infra|compute|storage|cinder|ceph|swift|logger/ { print }'`; do virsh undefine $i; done;

  # Delete all disks
  echo -e "Removing disk images\n"
  find . -regextype posix-extended -iregex '.*(infra|compute|storage|cinder|ceph|swift|logger).*' -delete
  echo -e "Lab completed destroyed\n"

  # Return to previous directory
  popd
}