*.img
*.iso
*.tar.gz
*.tgz
pxe
pxe/*
server
server/*

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/rpcops-onmetal-labconfigurator.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/dictionaries/codebauss.xml

.idea/dictionaries/melv7301.xml
